In [1]:
#Seleksi weekdays dan weekends pada data deret waktu (time series)

import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [3]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')

print(df)

            col1  col2
2024-01-01     2     4
2024-01-02     8     7
2024-01-03     6    13
2024-01-04    18     3
2024-01-05    13     7
...          ...   ...
2024-12-26    11     8
2024-12-27    12     8
2024-12-28    13     6
2024-12-29    11     6
2024-12-30     9    10

[365 rows x 2 columns]

In [4]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2024-01-01     2     4
2024-01-02     8     7
2024-01-03     6    13
2024-01-04    18     3
2024-01-05    13     7
2024-01-08     4    14
2024-01-09    19     3

In [6]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            col1  col2
2024-01-06    11    13
2024-01-07     9    14
2024-01-13     4    15
2024-01-14     8    11
2024-01-20    16     7
2024-01-21    16    10
2024-01-27     8     5