In [1]:
#Menghitung jumlah baris menurut kriteria tertentu

import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [5]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  7  9  9  2  7
1  3  9  5  9  9
2  1  2  2  6  5
3  5  2  6  5  7
4  7  2  9  5  1
5  9  3  2  1  5
6  2  8  7  8  7
7  1  2  5  3  4
8  8  2  7  9  5
9  2  9  1  1  1

In [6]:
(df['A'] < 5).sum()

5

In [7]:
(df['A'] < 5).mean()

0.5